.signcontainer {
  display: inline-block;
  text-align: center;
  width: 100%;
  position: relative;
  left: 70%;
}
.title {
  font-weight: 2px;
  font-size: 40px;
  color: rgb(8, 35, 110);
}
.input {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-width: 1px;
  font-size: 20px;
  color: rgb(8, 35, 110);
}
.error {
  color: red;
  text-align: left;
}
